@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

body, div, a, p, input, h1, h2, h3, h4, ol, ul, li {
	margin: 0;
	padding: 0;
}

html, body {
	scroll-behavior: smooth;
	font-family: 'League Spartan';
}

.navbar {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: #fff;
}

.nav-list {
	max-width: 550px;
	justify-content: space-between;
	list-style-type: none;
	margin: 20px auto;
	display: flex;
}

.nav-mobile {
	display: none;
}

.nav-link {
	text-decoration: none;
	color: #000;
	font-size: 20px;
}

.nav-item {
	padding: 7px 25px 5px 25px;
	border-radius: 20px;
}

#nav-item-active {
	background-color: #F38080;
}

#nav-item-active > a {
	color: #fff;
}

.all-content {
	margin-top: 80px;
}

.container {
	max-width: 800px;
	margin: 25px auto;
	/*padding: 10px 20px;*/
}

.font-pink {
	color: #F38080;
}

@media only screen and (max-width: 768px) {

.navbar {
	/*display: flex;*/
	/*justify-content: end;*/
}

.nav-list {
	display: none;
}

.nav-mobile {
	display: block;
	position: relative;
}

.nav-mobile svg {
	position: absolute;
	right: 0;
	top: 0;
}

.container {
	margin: 25px;
}

.nav-mobile-list {
  display: none;
  position: absolute;
  background-color: #fff;
  top: 40px;
  right: 0;
  min-width: 160px;
  box-shadow: 0px 3px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.nav-mobile-list li {
  /*color: black;*/
  padding: 12px 16px;
  text-decoration: none;
  border-radius: 0px;
  display: block;
  right: 0;
}

.show {
	display:block;
}

}